

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$font-family-sans-serif-2: 'Poppins', sans-serif;
$font-family-serif: 'Source Serif Pro', serif;



body {
	font-family: $font-family-sans-serif;
	
}
p {
	// color: darken(#ccc, 110%);
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-sans-serif;
}
a {
	transition: .3s all ease;
	&, &:hover {
		text-decoration: none!important;
	}
}
.content {
	padding: 7rem 0;
}
h2 {
	font-size: 20px;
}

.btn {
	border-radius: 4px;
	font-size: 13px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	border: none;
	border-radius: 30px;
	letter-spacing: .02rem;
	top: 0;
	position: relative;
	transition: .3s all ease;
	overflow: hidden;
	&:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		transition: .3s all ease;
		background: rgba($white,.15);
	}
	&.btn-sm {
		font-size: 12px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 15px;
		padding-right: 15px;
	}
	&.btn-lg {
		font-size: 16px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 30px;
		padding-right: 30px;

	}
	&:hover, &:active, &:focus {
		box-shadow: none;
		top: -1px;
		&:before {
			height: 50%;
		}
	}

}

/* Primary */
.btn-primary {
	&:hover, &:focus {
		background-color: lighten($primary,3%);
		box-shadow: 0 3px 0px 0 darken($primary, 10%);
	}
}
/* Secondary */
.btn-secondary {
	// box-shadow: 0 2px 0px 0 darken($secondary, 10%);
	&:hover, &:focus {
		background-color: lighten($secondary,3%);
		box-shadow: 0 2px 0px 0 darken($secondary, 10%);
	}
}
/* Success */
.btn-success {
	&:hover, &:focus {
		background-color: lighten($success,3%);
		box-shadow: 0 2px 0px 0 darken($success, 10%);
	}
}
/* Info */
.btn-info {
	// box-shadow: 0 2px 0px 0 darken($info, 10%);
	&:hover, &:focus {
		background-color: lighten($info,3%);
		box-shadow: 0 2px 0px 0 darken($info, 10%);
		color: $white;
	}
}
/* Light */
.btn-light {
	// background-color: $warning;
	color: $black;
	// box-shadow: 0 2px 0px 0 darken($light, 10%);
	&:hover, &:focus {
		box-shadow: 0 2px 0px 0 darken($light, 10%);
		color: $black;
	}
}
/* Warning */
.btn-warning {
	background-color: $warning;
	color: $white;
	// box-shadow: 0 2px 0px 0 darken($warning, 10%);
	&:hover, &:focus {
		background-color: lighten($warning,3%);
		box-shadow: 0 2px 0px 0 darken($warning, 10%);
		color: $white;
	}
}
/* Danger */
.btn-danger {
	background-color: $danger;
	color: $white;
	// box-shadow: 0 2px 0px 0 darken($danger, 10%);
	&:hover, &:focus {
		background-color: lighten($danger,3%);
		box-shadow: 0 2px 0px 0 darken($danger, 10%);
		color: $white;
	}
}
/* Orange */
.btn-orange {
	background-color: $orange;
	color: $white;
	// box-shadow: 0 2px 0px 0 darken($orange, 10%);
	&:hover, &:focus {
		background-color: lighten($orange,3%);
		box-shadow: 0 2px 0px 0 darken($orange, 10%);
		color: $white;
	}
}
/* Indigo */
.btn-indigo {
	background-color: $indigo;
	color: $white;
	// box-shadow: 0 2px 0px 0 darken($indigo, 10%);
	&:hover, &:focus {
		background-color: lighten($indigo,3%);
		box-shadow: 0 2px 0px 0 darken($indigo, 10%);
		color: $white;
	}
}
/* Pink */
.btn-pink {
	background-color: $pink;
	color: $white;
	// box-shadow: 0 2px 0px 0 darken($pink, 10%);
	&:hover, &:focus {
		background-color: lighten($pink,3%);
		box-shadow: 0 2px 0px 0 darken($pink, 10%);
		color: $white;
	}
}
/* Purple */
.btn-purple {
	background-color: $purple;
	color: $white;
	// box-shadow: 0 2px 0px 0 darken($purple, 10%);
	&:hover, &:focus {
		background-color: lighten($purple,3%);
		box-shadow: 0 2px 0px 0 darken($purple, 10%);
		color: $white;
	}
}
/* Blue */
.btn-blue {
	background-color: $blue;
	color: $white;
	// box-shadow: 0 2px 0px 0 darken($blue, 10%);
	&:hover, &:focus {
		background-color: lighten($blue,3%);
		box-shadow: 0 2px 0px 0 darken($blue, 10%);
		color: $white;
	}
}
/* Brown */
.btn-brown {
	background-color: #a0855b;
	color: $white;
	// box-shadow: 0 2px 0px 0 darken(#a0855b, 10%);
	&:hover, &:focus {
		background-color: lighten(#a0855b,3%);
		box-shadow: 0 2px 0px 0 darken(#a0855b, 10%);
		color: $white;
	}
}
/* Blue gray */
.btn-blue-gray {
	background-color: #3f4d71;
	color: $white;
	// box-shadow: 0 2px 0px 0 darken(#3f4d71, 10%);
	&:hover, &:focus {
		background-color: lighten(#3f4d71,3%);
		box-shadow: 0 2px 0px 0 darken(#3f4d71, 10%);
		color: $white;
	}
}

/* Deep orange */
.btn-deep-orange {
	background-color: #ffac8e;
	color: $white;
	// box-shadow: 0 2px 0px 0 darken(#ffac8e, 10%);
	&:hover, &:focus {
		background-color: lighten(#ffac8e,3%);
		box-shadow: 0 2px 0px 0 darken(#ffac8e, 10%);
		color: $white;
	}
}

/* Aqua */
.btn-aqua {
	background-color: #3fc5f0;
	color: $white;
	// box-shadow: 0 2px 0px 0 darken(#3fc5f0, 10%);
	&:hover, &:focus {
		background-color: lighten(#3fc5f0,3%);
		box-shadow: 0 2px 0px 0 darken(#3fc5f0, 10%);
		color: $white;
	}
}
/* Dark */

.btn-dark {
	background-color: #393e46;
	color: $white;
	// box-shadow: 0 2px 0px 0 darken(#393e46, 10%);
	&:hover, &:focus {
		background-color: lighten(#393e46,3%);
		box-shadow: 0 2px 0px 0 darken(#393e46, 10%);
		color: $white;
	}
}
.btn-black {
	background-color: #000;
	color: $white;
	// box-shadow: 0 2px 0px 0 darken(#000, 10%);
	&:hover, &:focus {
		background-color: lighten(#000,3%);
		box-shadow: 0 2px 0px 0 darken(#000, 10%);
		color: $white;
	}
}